
@font-face {
  font-family: "Rebirth";
  src: url("images/font_Upheavtt.ttf") format("truetype");
}

body {
background-image: url("images/background.png");

	background-color:black;
	background-position:center center;
background-size:100%;

	left:0;
right:0;
top:0;
bottom:0;
width:auto;
height:auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

position:absolute;
}

#characters {
	text-align:center;
	position:relative;
	margin-left: 50%;
	margin-right: 50%;
	width:100px;
	height:20px;
	margin-top:14%;
}


#characters img {
	width:auto;
	height: auto;
	position:absolute;
	
    	image-rendering: -moz-crisp-edges;
    	image-rendering: -o-crisp-edges;
    	image-rendering: -webkit-optimize-contrast;
    	-ms-interpolation-mode: nearest-neighbor;
    	image-rendering: pixelated;
	
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-khtml-user-select: none;
    	-o-user-select: none;
}

#btnHolder {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	overflow:visible;
}

#btnSpin{
	text-align:center;
	font-family: Rebirth, Verdana;
	color:white;
	background:none;
	border:none;
	font-size:128px;
	white-space: pre;
	overflow:visible;
}

#isJsEnabled {
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	
	text-align:center;
	color:white;
	font-family:Verdana;
	font-weight:bold;
	font-size: 72px;
	width: 50%;
}

#selectionRow{
	width: 50%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	

	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-khtml-user-select: none;
    -o-user-select: none;
}

#selectionRow img {
	position:relative;
	display:inline-block;
	border: 2px solid rgb(50,50,50);
	background-color:rgb(20,20,20);
	border-radius:6px;
}
